
.layout-footer {
  width: 100%;
  background: var(--background-footer);
  box-shadow: 0 -2px 8px 0 rgba(0,0,0,0.05);
  padding: 1rem 0;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  color: var(--primary);
}
