
.glow-background__orb {
  background: radial-gradient(circle at left, #3DCFB680 0%, transparent 60%);
  filter: blur(80px);
  transform: translateX(-70%) translateY(-50%);
  opacity: 0;
  transition: transform 2.4s ease-out, opacity 2.4s ease-out;
  will-change: transform, opacity;
}

.glow-background__orb.aos-animate {
  transform: translateX(-20%) translateY(-50%);
  opacity: 0.85;
}
