<section class="debug-component py-8" id="about" data-aos="fade-up">
    <app-page-container>
        <div class="aboutme-wrapper flex flex-col lg:flex-row justify-center items-center gap-8 lg:gap-0">
            <div
                class="pictureofmeShadow relative w-full max-w-[var(--card-size)] h-[360px] sm:h-[420px] lg:h-[var(--card-size)]">
                <div class="diagonalShadow"></div>
                <img #portrait class="movingpic relative z-10 w-full h-full rounded-[30px] object-cover grayscale"
                    [src]="devImg" alt="Portrait von Jannik Hoff" />
            </div>

            <div class="whoiam flex flex-col lg:ml-20 ml-0 w-full lg:w-auto">
                <h1 class="mb-5 font-karla text-secondary">{{ lang.t('about.whoiam') }}</h1>
                <app-rounded-card
                    className="aboutme-description gap-8 p-10 flex flex-col justify-start w-full lg:w-[var(--card-size)] h-auto lg:h-auto">
                    <h2
                        class="font-firacode font-bold text-[64px] leading-[100%] tracking-[-0.03em] text-text-secondary">
                        {{ lang.t('about.title') }}</h2>
                    <span>{{ lang.t('about.p1') }}</span>
                    <div class="flex gap-4 group">
                        <img class="h-[32px] w-[32px]" [src]="locationIcon" alt="Location icon" />
                        <p class="opacity-70 group-hover:opacity-100 transition-opacity duration-300">{{
                            lang.t('about.location') }}</p>
                    </div>
                    <div class="flex gap-4 group">
                        <img class="h-[32px] w-[32px]" [src]="cognitionIcon" alt="Focus icon" />
                        <p class="opacity-70 group-hover:opacity-100 transition-opacity duration-300">{{
                            lang.t('about.cognition') }}</p>
                    </div>
                    <div class="flex gap-4 group">
                        <img class="h-[32px] w-[32px]" [src]="newReleasesIcon" alt="Updates icon" />
                        <p class="opacity-70 group-hover:opacity-100 transition-opacity duration-300">{{
                            lang.t('about.new_releases') }}</p>
                    </div>
                </app-rounded-card>
            </div>
        </div>
    </app-page-container>
</section>